.containerNav {
    background-color: #027bec;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 700px;

        a{
            font-size: 26px;
            color: #fafafa;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            text-decoration: none;
        }
    }
}