.containerTodo {
	width: 800px;
	height: 60vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 200px auto;
	font-family: 'Helvetica';
	margin-inline: auto;

	.FormContainer {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		width: 100%;
		height: 350px;

		h2 {
			font-size: 32px;
		}

		form {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			width: 100%;
			height: 100%;
			margin-top: 100px;

			label {
				position: relative;
				top: 40px;
				left: 130px;
			}

			input {
				width: 500px;
				padding: 15px 20px;
				margin-inline: auto;
				background: #dbdbdb;
				border: none;
				border-radius: 10px;
			}

			button {
				max-width: 200px;
				font-size: 22px;
				padding: 15px 20px;
				margin-inline: auto;
				background: lightblue;
				border: none;
				border-radius: 10px;
			}
		}
	}
	.TodosListContainer {
		width: 800px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: auto;
		padding: 20px 40px;

		.Todo {
			background-color: rgb(70, 146, 227);
			width: 100%;
			padding: 10px 20px;
			align-items: center;
			border-radius: 10px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			button {
				background-color: rgb(235, 95, 95);
				font-size: 22px;
				padding: 15px 20px;
				border-radius: 5px;
				border: none;
			}
		}
	}
}
